/* Jhat 's style */

/* Golbal jhat style settings 
 * -------------------------------------------------------------*/
*[id^='jhat-'] ,
*[class^='jhat-'] {
	padding: 0px;
	margin: 0px;
	font: 16px "Helvetica Neue",Helvetica,STheiti,微软雅黑,黑体,Arial,Tahoma,sans-serif,serif;
	color: #555;
}

.jhat-hidden {
	display: none;
}

.jhat-bg {
	z-index: 1;
	height: 80px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

/*
 * Jhat's radius 
 * ----------------------------------------------------------------------------*/
.jhat-radius {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}
.jhat-tl-radius {
	border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-o-border-top-left-radius: 6px;
	-ms-border-top-left-radius: 6px;
}

.jhat-tr-radius {
	border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-o-border-top-right-radius: 6px;
	-ms-border-top-right-radius: 6px;
}

.jhat-bl-radius {
	border-bottom-left-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-o-border-bottom-left-radius: 6px;
	-ms-border-bottom-left-radius: 6px;
}
.jhat-br-radius {
	border-bottom-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-o-border-bottom-right-radius: 6px;
	-ms-border-bottom-right-radius: 6px;
}

.jhat-transparent {
	box-shadow: 0 0 25px 0px #ccc;
	-webkit-box-shadow: 0 0 25px 0px #ccc;
	-moz-box-shadow: 0 0 25px 0px #ccc;
	background-color: transparent;
}
/* Jhat's components
 * --------------------------------------------------------------------------*/
div.jhat-box {
	z-index: 99998;
	position:fixed;
	top: 2%;
	right: -245px;
	width: 260px;
	height: 95%;
	max-height: 700px;
	opacity: 0.9;
} 

ul.jhat-icon {
	position:absolute;
	top: 0px;
	right: 0px;
	width: auto;
	height: auto;
	min-width: 50px;
	min-height: 20px;
	padding: 5px;
	opacity: 0.5;
}

ul.jhat-icon li.jhat-icon-item {
	border-radius: 30px 100px;
	width: 43px;
	height: 17px; 
	border: 1px solid #ccc;
	float: right;
	margin-left: 5px;
}
ul.jhat-icon li.jhat-icon-item:hover {
	cursor: pointer;
}

li.jhat-icon-hide {
	margin-right: 5px;
}

.jhat-transtion {
	transtion: all 0.3s ease-in;
	-webkit-transtion: all 0.3s ease-in;
	-moz-transtion: all 0.3s ease-in;
	-ms-transtion: all 0.3s ease-in;
	-o-transtion: all 0.3s ease-in;
} 

div.jhat-show {
	z-index: 100000;
	position: fixed;
	top: 33%;
	right: 5px;
	width: 40px;
	height: 40px;
}

div.jhat-show-hidden {
	transform: rotateX(360deg);
	-webkit-transform: rotateX(360deg);
}

div.jhat-show:hover {
	cursor: pointer;
}

div.jhat-header {
	height: 100px;
	padding: 5px;
	border: none;
	border-radius: 6px 6px 0px 0px;
	border-bottom: 1px solid #d4d4d4;
}

div.jhat-sum {
	overflow:hidden;
	margin-top: 7px;
}
div.jhat-sum-inner {
	width: 150px;
	float: left;
}

.jhat-signature {
	border: 1px solid transparent;
	background:transparent ;
	border: none;
	width: 120px;
	border-radius: 3px;
	font-size: 10px;
	padding: 3px;
}

.jhat-signature:hover {
	border: 1px solid #ededed;
}

.jhat-signature:focus {
	border: 1px solid #ededed;
	background: #fff;
}

.jhat-avatar-large {
	float: left;
	width: 64px;
	border-radius: 6px;
	border: 2px solid #ededed;
	margin-left: 5px;
	margin-right: 10px;
}
.jhat-avatar-large:hover {
	cursor: pointer;
}

.jhat-list-content {
	overflow:hidden;
	height: 405px;
}

li.jhat-contact-item {
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	width: 70px;
	border: 1px solid transparent;
	float: left;
	padding:2px;
	margin-left:6px;
	margin-top: 10px;
	text-align:center;
}
li.jhat-contact-item:hover {
	border: 1px solid #ccc;
	cursor: pointer;
	box-shadow: 0 0 20px 0 #ccc;
}

.jhat-contact-avatar {
	display:inline-block;
	width: 50px;
	border-radius: 6px;
	margin-top: 5px;
	border: 2px solid #ededed;
}
.jhat-contact-name  a{
	font-size:12px;
	width: 100%;
}

.jhat-widget {
	display: none;
	position: fixed;
}

div.jhat-dialogue {
	z-index: 99999;
	top: 10%;
	left: 33%;
	width: 550px;
	height: 484px;
	box-shadow: 0px 0px 25px 0px rgb(228, 228, 228);
	opacity: 0.9;
}
div.jhat-dialogue div.jhat-header {
	height: 80px;
}
div.jhat-dialogue .jhat-sum-inner {
	width: 80%;
}
div.jhat-dialogue .jhat-signature {
	width: 87%;
	height: 13px;
	overflow: hidden;
}
div.jhat-dialogue .jhat-signature:hover {
	border: none;
}
div.jhat-dialogue .jhat-type textarea {
	bottom: 0px;
	width: 98%;
	padding: 1%;
	border: none;
	border-top: 1px solid #ededed;
	height: 80px;
	font-size: 16px;
}
div.jhat-dialogue .jhat-display  {
	height: 300px;
	background-color: #f9f9f9;
	overflow: hidden;
}
div.jhat-dialogue ul.jhat-records {
	width: 100%;
	font-size: 13px;
}
.jhat-record-item {
	margin: 10px 0px 10px 0px;
	padding: 5px 15px 5px 15px;
	width: 100%;
	overflow: hidden;
}
.jhat-record-item img {
	display:block;
	width: 35px;
	height: 35px;
}
.jhat-record-item p {
	background: #fff;
	min-width: 50px;
	max-width: 50%;
	min-height: 35px;
	padding: 6px;
	margin: 0px 20px;
	border: 1px solid #ededed;
	font-size:12px;
	overflow: hidden;
}
.jhat-record-other img ,
.jhat-record-other p {
	float: left;
}
.jhat-record-self img ,
.jhat-record-self p {
	float: right;
}
.jhat-record-self img {
	margin-right: 30px;
}

/* Jhat-scrollbar 
 * ___________________________________________________________________*/
.jhat-scroll {
	position: relative;
}
.jhat-scroll .jhat-scroll-inner {
	position: absolute;
	min-height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.jhat-scrollbar {
	display:none;
	position:absolute;
	height: 50px;
	width: 10px;
	top: 0px;
	right: 0px;
	opacity: 0.5;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
}

