<div id='jhat-box' class='jhat-radius jhat-transparent'>
	<div id='jhat-header' class='jhat-bg'>

		<div id='jhat-banner'>
			<span>Jhat</span>
			<ul class='jhat-icon jhat-tr-radius'>
				<li class='jhat-icon-item jhat-icon-hide'> </li>
			</ul>
		</div>

		<div id='jhat-sum'>
			<img src='/img/avatar.jpg' class='jhat-avatar-large'/>
			<div id='jhat-sum-inner'> 
				<div id='jhat-nickname'><span class='jhat-status'><span>khhhshhh</div>
				<input id='jhat-signature'/>
			</div>
		</div>

	</div>
	<div id='jhat-list-content'>
		<ul id='jhat-contact-list'>
			<li class='jhat-contact-item jhat-radius'>
				<img class='jhat-contact-avatar' src='/img/avatar/1.jpg'/>
				<span class='jhat-contact-name'><a>Kuang</a></span>
			</li>
			<li class='jhat-contact-item jhat-radius'>
				<img class='jhat-contact-avatar' src='/img/avatar/2.jpg'/>
				<span class='jhat-contact-name'><a>Baixin</a></span>
			</li>
			<li class='jhat-contact-item jhat-radius'>
				<img class='jhat-contact-avatar' src='/img/avatar/3.jpg'/>
				<span class='jhat-contact-name'><a>JiJiLong</a></span>
			</li>
			<li class='jhat-contact-item jhat-radius'>
				<img class='jhat-contact-avatar' src='/img/avatar/4.jpg'/>
				<span class='jhat-contact-name'><a>Zhiheng</a></span>
			</li>
			<li class='jhat-contact-item jhat-radius'>
				<img class='jhat-contact-avatar' src='/img/avatar/5.jpg'/>
				<span class='jhat-contact-name'><a>DongLing</a></span>
			</li>
		</ul>
	</div>
</div>

<div class='jhat-show jhat-transparent jhat-tl-radius jhat-bl-radius jhat-transtion'></div>
