div#content {
	width:700px;
	margin:0 auto;
	padding-top:30px;
}

#button {
	margin:10px auto;
	width:200px;
}

#avatar {
	width: 120px;
	height: 200px;
	float: left;
	text-align:center;
}
#avatar img {
	margin-top: 30px;
	margin-bottom: 10px;
	width: 120px;
	border:1px solid #ccc;
}
#avatar span.name {
	font-size:14px;
	font-weight:bold;
}

a {
	font-size:12px;
}
