extends layout
block head
    link(type='text/css', rel='stylesheet', href='/css/info.css')
    link(type='text/css', rel='stylesheet', href='/css/button.css')
    link(type='text/css', rel='stylesheet', href='/css/form.css')
    link(type='text/css', rel='stylesheet', href='/css/profileUpdate.css')

block content
    if user
        div#content
            form#profileUpdate.form
                div.input-group
                    label Old password 
                    input#opassword.radius(type='password', name='opassword')
                div.input-group
                    label New password
                    input#npassword.radius(type='password', name='npassword')
                div.input-group
                    label Verify password
                    input#vpassword.radius(type='password')
                div#button.input-group
                    button Save
    else 
        div.info-hero
            | Sorry, please signin first.

block script
    script(type='text/javascript', src='/js/passwordUpdate.js') 
