extends ./signLayout
block left
    h1 Jhat 
    div#sub.gray Easy to chat with you. 

block right
    link(type='text/css', rel='stylesheet', href='/css/signin.css')
    form#form
        div.input-group
            label Name: 
            input.radius(type='text', name='name')
        div.input-group
            label Password: 
            input.radius(type='password', name='password')
        div.input-group
            button#signin.pull-right.margin-right-190(type='submit') 登陆
            button#signup.pull-right.margin-right-10(type='submit') 注册

block footer
    div#footer

block script
    script(type='text/javascript', src='/js/signin.js');
