doctype 5
html
    head
        script(type='text/javascript', src='/js/jquery.js')
        link(type='text/css', rel='stylesheet', href='/css/structure.css');
        link(type='text/css', rel='stylesheet', href='/css/style.css');
        link(type='text/css', rel='stylesheet', href='/css/form.css');
    body
        div#wrapper
            div#left
                block left
            div#right
                block right
            div#footer
                block footer
    block script
